@model XemDanhSachLop

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách lớp</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Lớp
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lops)
        {
            <tr>
                <td>
                    <a asp-controller="HocVien" asp-action="Index" asp-route-ml="@item.MaLop"> @Html.DisplayFor(modelItem => item.TenLop)</a>

                </td>
            </tr>
        }
    </tbody>
</table>
